<a href="https://colab.research.google.com/github/saikumarsamudrala/saikumar/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def printEven(n):
  cnt=0;
  sum=0;
  while(cnt!=n):
    if(cnt%2==0):
      sum=sum+cnt;
      cnt=cnt+1;
    return sum;
print(printEven(20));

#example funtional programming

In [0]:
def factorslist(n):
  i=1;
  while(i!=n):
    if(n%i==0):
       print(i,end=" ");
    i=i+1;
    return;
  factorslist(12);

In [0]:
list1=[1,2,3,4,5];
print(list1)

[1, 2, 3, 4, 5]

# loops

In [0]:
list2=["sai","vikas"]
for X in list2:
  print(X,end=" ")

sai vikas

#example

In [0]:
list1=[1,5,6,2,3]
for x in list1:
  print(x,end=" ")

print()
print(list1[2])
print(list1[0:3]);

1 5 6 2 3
6
[1, 5, 6]

example

In [0]:
list1=[1,5,6,2,3,4,2,2]
for x in list1:
  print(x,end=" ")

print();
print(list1[1:-1])
print(list1[::2])
print(list1[::-2])
print(list1[-1])
print(list1[-8])

1 5 6 2 3 4 2 2
[5, 6, 2, 3, 4, 2]
[1, 6, 3, 2]
[2, 4, 2, 5]
2
1

#example

In [0]:
list1=["anil","sai","ram"]
print(list1);
list1[1]=15;
print(list1)
list1[0]="gitam"
print(list1)
list2=[1,3,52]
print(list2)
print(list1+list2)

['anil', 'sai', 'ram']
['anil', 15, 'ram']
['gitam', 15, 'ram']
[1, 3, 52]
['gitam', 15, 'ram', 1, 3, 52]

#example

In [0]:
list1=[1,5,3,4,5,62,4]
print(list1)
del list1[1];
print(list1)
print(len(list1))
list1.append(5)
print(list1)
print(list1.count(1))

[1, 5, 3, 4, 5, 62, 4]
[1, 3, 4, 5, 62, 4]
6
[1, 3, 4, 5, 62, 4, 5]
1

#example

In [0]:
list1=["gitam","python","c","raptor"]
print(list1)
print(len(list1))
list1.insert(2,2019)
print(list1)
list1.remove("python")
print(list1)
list1.reverse()
print(list1)

['gitam', 'python', 'c', 'raptor']
4
['gitam', 'python', 2019, 'c', 'raptor']
['gitam', 2019, 'c', 'raptor']
['raptor', 'c', 2019, 'gitam']

example

In [0]:
def linearsearch(a,taritem):
  flag=0;
  for i in range(len(a)):
    if a[i]==taritem:
      flag=1;
      break
  if(flag!=0):
        print("target item is found")
  else:
          print("target item is not found")
a=[1,3,4,6,5,0]
linearsearch(a,5)

target item is found

#example

In [69]:
def linearsearchduplicate(a,taritem):
  flag=0
  for i in range(len(a)):
    if a[i]==taritem:
      flag=flag+1
      
  print(flag)
a=[2,4,5,6,7,7] 
linearsearchdupilcate(a,7)

NameError: ignored

#example1

In [68]:
def linearexample1(a,taritem):
  flag=0;
  for i in range(len(a)):
    if a[i]==taritem:
      flag=1;
      break
  if(flag!=0):
        print("target item is found")
  else:
          print("target item is not found")
a=[1,5,9,6,5,15,12,5]
linearexample1(a,5)

target item is found

#EXAMPLE

In [79]:
def linearsearchexample2(a,taritem):
    for i in range(len(a)):
      if a[i]==taritem:
          j=0
          while j!=i+1:
              print("!",end=" ")
              j=j+1
          print(end=" ")
        
        
a=[1,3,4,6,4,5]
linearsearchexample2(a,3)

! !

#example4

In [88]:
def examle3(a):
    sum=0;
  for i in range(len(a)):
      if a[i]%3==0 and a[i]%5==0;
         sum=sum+a[i]
  return sum
a=[15,8.45,15]
example(a)

IndentationError: ignored

In [0]:
def linearformatedoutpu(a);
    for i in range(len(a)):
        if i[a]

#number conversion

In [0]:
def numberconversion